<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="TaskBoard.Portal.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <!-- Google ile login islemi icin -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="js/google-login.js"></script>
    <!-- Google ile login islemi icin -->
   @*  <script async defer crossorigin="anonymous"
            src="https://connect.facebook.net/en_US/sdk.js"></script> *@
    <script src="js/facebook-login.js"></script>
</body>

</html>
